<h4 id="receivername"><%= data.receivername %></h4>
<h4  id="receiver"><%= data.receiverId %></h4>
  
<h4 id="userid"><%= data.userId %></h4>
<div id="chatBox">
    
    <ul id="messages">
      
    </ul>
  </div>
  
  
  <div id="inputSection">
    <input id="messageInput" type="text" placeholder="Type your message here...">
    <button onclick="sendMessage()">Send</button>
  </div>
  <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>  
  <script src="/js/script.js"></script>





  