<div class="posts">
    <div class="postHead">
        <h1 class="postheading"><%= data.title %> </h1>
        <h1 class="postdate"><%= data.createdAt.toDateString() %> </h1>
    </div>
    <h2 class="postbody"> <%= data.body %></h2>

</div>
<a href="/" class="pagination back">&lt;Back</a>