<div class="signup-container">
    <div class="signup-image">
        <h2>Sign Up</h2>
    </div>
    <div class="signup-form">
        <h1>Join Us</h1>
        <p>Create your account to get started</p>
        <form action="/signup" method="POST">
            <input type="text" placeholder="Enter a username" name="username" required>
            <input type="email" placeholder="Enter your email" name="mail" required>
            <input type="password" placeholder="Enter your password" name="password" required>
            <button type="submit">SIGN UP</button>
        </form>
        <div class="login-link">
            <p>already have an account? <a href="/login" >login</a></p>
        </div>
    </div>
</div>