<div class="sidebar">
   <a href="/" class="header_logo">GO-BLOG</a>
   <ul class="sidenav">
    <li><a href="/"><span class="material-symbols-outlined">
      home
      </span>Home</a></li>
      <li><a href="/Users"><span class="material-symbols-outlined">
        chat
        </span>
        
        Chat</a></li>
    <li><a href="/userposts"><span class="material-symbols-outlined">
      post
      </span>Your Posts</a></li>
    <li><a href="/create-post"><span class="material-symbols-outlined">
      post_add
      </span>CreatePost</a></li>
      
    <li><a href="/logout"><span class="material-symbols-outlined">
      logout
      </span>Logout</a></li>
   
   </ul>

</div>