<div class="sidebar">
   <a href="/" class="header_logo">GO-BLOG</a>
   <ul class="sidenav">
    <li><a href="http://"><span class="material-symbols-outlined">
      home
      </span>Home</a></li>
    <li><a href="http://"><span class="material-symbols-outlined">
      edit_note
      </span>Edit</a></li>
    <li><a href="http://"><span class="material-symbols-outlined">
      manage_search
      </span>Search</a></li>
    <li><a href="http://"><span class="material-symbols-outlined">
      logout
      </span>Logout</a></li>
   </ul>

</div>