<div class="sidebar">
   <a href="/" class="header_logo">GO-BLOG</a>
   <ul class="sidenav">
    <li><a href="/"><span class="material-symbols-outlined">
      home
      </span>Home</a></li>
    <li><a href="/userposts"><span class="material-symbols-outlined">
      edit_note
      </span>Your Posts</a></li>
    <li><a href="http://"><span class="material-symbols-outlined">
      manage_search
      </span>Search</a></li>
    <li><a href="/create-post"><span class="material-symbols-outlined">
      logout
      </span>Create Post</a></li>
   </ul>

</div>